<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="card.css" />
  </head>
  <style>
    main {
      display: flex;
      flex-direction: row;
    }

    section {
      font-size: min(16rem, 6vh);
    }

    aside {
      font-size: min(5rem, 10vh);
    }
  </style>
  <body>
    <header>
      <h1>Card Display</h1>
      <nav>
        <a href="#1">Jane</a>
        <a href="#2">Dane</a>
        <a href="#3">Kane</a>
      </nav>
    </header>
    <main>
      <article id="1" class="card">
        <figure>
          <img
            src="Images/profile1-500x500.png"
            alt="image"
            width="500"
            height="500"
          />
          <figcaption>Jane Coder</figcaption>
        </figure>
        <p><q>I code stuff.</q></p>
      </article>
      <article id="2" class="card">
        <figure>
          <img
            src="Images/profile2-500x500.png"
            alt="image"
            width="500"
            height="500"
          />
          <figcaption>Dane Designer</figcaption>
        </figure>
        <p><q>I design stuff.</q></p>
      </article>
      <article id="3" class="card">
        <figure>
          <img
            src="Images/profile3-500x500.png"
            alt="image"
            width="500"
            height="500"
          />
          <figcaption>Kane <span>Loves Coding</span></figcaption>
        </figure>
        <p><q>I teach stuff.</q></p>
      </article>
      <article id="1" class="card">
        <figure>
          <img
            src="Images/profile1-500x500.png"
            alt="image"
            width="500"
            height="500"
          />
          <figcaption>Jane Coder</figcaption>
        </figure>
        <p><q>I code stuff.</q></p>
      </article>
      <article id="2" class="card">
        <figure>
          <img
            src="Images/profile2-500x500.png"
            alt="image"
            width="500"
            height="500"
          />
          <figcaption>Dane Designer</figcaption>
        </figure>
        <p><q>I design stuff.</q></p>
      </article>
      <article id="3" class="card">
        <figure>
          <img
            src="Images/profile3-500x500.png"
            alt="image"
            width="500"
            height="500"
          />
          <figcaption>Kane <span>Loves Coding</span></figcaption>
        </figure>
        <p><q>I teach stuff.</q></p>
      </article>
      <article id="1" class="card">
        <figure>
          <img
            src="Images/profile1-500x500.png"
            alt="image"
            width="500"
            height="500"
          />
          <figcaption>Jane Coder</figcaption>
        </figure>
        <p><q>I code stuff.</q></p>
      </article>
      <article id="2" class="card">
        <figure>
          <img
            src="Images/profile2-500x500.png"
            alt="image"
            width="500"
            height="500"
          />
          <figcaption>Dane Designer</figcaption>
        </figure>
        <p><q>I design stuff.</q></p>
      </article>
      <article id="3" class="card">
        <figure>
          <img
            src="Images/profile3-500x500.png"
            alt="image"
            width="500"
            height="500"
          />
          <figcaption>Kane <span>Loves Coding</span></figcaption>
        </figure>
        <p><q>I teach stuff.</q></p>
      </article>
    </main>

    <footer>&copy; This is my page.</footer>
  </body>
</html>
