<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Animated Menu</title>
    <link rel="stylesheet" href="animation.css" />
  </head>

  <body class="main-body">
    <div class="header-sidebar">
      <header>
        <section class="header-title-line">
          <button class="menu-button">
            <div class="menu-icon"></div>
          </button>
        </section>
      </header>

      <div class="sidebar">
        <ul>
          <li><a href="products.html">Link1</a></li>
          <li><a href="#">Link2</a></li>
          <li><a href="#">Link3</a></li>
          <li><a href="#">Link4</a></li>
        </ul>
      </div>
    </div>
    <main>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim rerum hic
      corporis iure accusamus reiciendis itaque fugiat at, est facere, dicta aut
      ipsa fugit in? Officiis alias velit consequuntur deleniti? Architecto sit
      tempore necessitatibus voluptate recusandae, natus eum fugiat illum odit
      facilis ab ullam totam qui? Fuga ipsam eligendi aspernatur autem
      dignissimos! Itaque repellendus est inventore, placeat laudantium possimus
      sed. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad illo eos
      omnis, vitae iusto sint ullam at, eius aliquid porro consectetur aliquam,
      sed saepe ducimus id voluptate! Quasi, fugiat exercitationem. Enim
      exercitationem dolore, officia expedita laboriosam eos quo labore
      distinctio placeat necessitatibus, nam quasi non veniam iusto!
      Exercitationem minima, inventore minus qui nulla illo dicta tenetur optio
      quis, quasi doloremque! Placeat, provident excepturi quidem culpa nisi
      dolorem repellat iste. Vero nisi iure eveniet ducimus at possimus aliquid
      impedit, repudiandae rerum dignissimos quod modi totam error, eaque
      assumenda ad, quo molestias? Corporis consequatur repellat odit dolores.
      Debitis ad quisquam in tempore temporibus aliquid quidem iusto autem iste
      culpa. Ipsum debitis ipsam non voluptate quibusdam enim beatae illo sequi
      aspernatur veritatis! Facere. Explicabo totam facilis repellendus saepe
      architecto molestiae eligendi reprehenderit ea ipsa quas consequatur natus
      neque, sint dolor nam? Sequi velit labore quia ipsa nam omnis voluptate
      culpa, commodi asperiores quasi? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Minima unde sequi voluptate, doloribus, labore cum
      voluptates excepturi tempore a deserunt, provident totam! Commodi omnis
      dolorum corrupti ullam? Accusantium, mollitia distinctio! Aliquid magnam
      inventore optio dolore ab, obcaecati placeat non officia itaque nisi,
      voluptates amet. Minima optio suscipit, velit quia dignissimos recusandae
      at deleniti ut! Pariatur consequuntur inventore ut cumque iusto? A nemo
      reiciendis animi quas repellendus dolorem facere dolorum! Dignissimos
      aliquid consequuntur, eius modi non repellendus omnis animi distinctio!
      Magni soluta dolorum assumenda esse ipsam consequuntur ab, dolor tempora
      laudantium? Similique praesentium labore, voluptatem, vel hic corrupti est
      autem iusto animi tempora dolor possimus nemo laboriosam modi explicabo
      magnam saepe architecto! Nulla asperiores iure voluptate perferendis
      sapiente, illo distinctio enim? Ipsam in eum et natus quam dicta
      distinctio, quod praesentium, vel amet atque maxime nihil dolore quo a.
      Quis saepe magni nulla quibusdam consectetur reprehenderit quidem nostrum
      velit tempora nisi.
    </main>
  </body>
</html>
